extends layout

block content
  h1.hide Admin Panel
  .row
    .four.columns
      form#logIn-form.panel(action="/panel/employees/new", method="post") 
        h2 New Employee
        | !{form.toHTML()}
        input#send(type='submit', value='Save')
